* {
    font-family: $font-montserrat, FontAwesome;
}

.btn-gradient {
    @include gradientButton()
}

.color-blue-primary {
    color: $primary-blue;
}

.relative-position {
    position: relative;
    z-index: 1;
}
