@mixin gradientButton() {
    background-image: linear-gradient(to right, $gradient-1, $gradient-2);
    width: 100%;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: $white;
    font-weight: 600;
    font-size: 12px;
    &:focus {
        outline: none;
    }
}

@mixin styleButton($bg-color, $border-color, $color) {
    background-color: $bg-color;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $border-color;
    color: $color;
    font-weight: 600;
    font-size: 12px;
    &:focus {
        outline: none;
    }
}

@mixin styleInput() {
    border-radius: 50px;
    font-size: 15px;
    color: $gray;
    font-weight: 200;
    background-color: $white;
    border: none;
    // margin-bottom: 25px;
    text-indent: 30px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba($gray, .05);
    box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.025);

    &:focus {
        outline:0px;
        outline-width: 0 !important;
        box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.025);
        text-indent: 30px
    }
    &::placeholder {
        color: $gray-light;
        font-size: 17px;
        font-weight: normal;
        text-indent: 30px;
    }

    &[type="date"] {
        text-indent: 13px;
    }

    &[type="number"] {
        text-indent: 30px;
        
        &::placeholder {
            text-indent: 30px;
        }
    }
}

@mixin InputOnlyRead () {
    border-radius: 50px;
    font-size: 15px;
    color: #616575;
    font-weight: 200;
    background-color: $gray-medium-light;
    border: none;
    text-indent: 30px;
    width: 100%;
    height: 50px;
    &:focus {
        outline:0px;
        outline-width: 0 !important;
        box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.025);
        text-indent: 30px
    }
    &::placeholder {
        color: $gray-light;
        font-size: 17px;
        font-weight: normal;
        text-indent: 30px;
    }

    &[type="date"] {
        text-indent: 13px;
    }

    &[type="number"] {
        text-indent: 30px;
        
        &::placeholder {
            text-indent: 30px;
        }
    }
}

@mixin  styleSelect() {
    border-radius: 50px;
    font-size: 17px;
    color: $gray-light;
    border: none;
    font-weight: normal;
    height: 50px;
    background-color: $white;
    text-indent: 30px;
    margin-bottom: 25px;
    box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.08);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    &:focus {
        outline:0px;
        outline-width: 0 !important;
        box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.08);
    }

    &::-ms-expand {
        display: none;
    }

    option {
        font-weight: 100;
    }
}

@mixin styleInputError() {
    border-radius: 50px;
    font-size: 15px;
    color: $gray;
    font-weight: 200;
    background-color: $white;
    border: 1px solid $primary-red;
    margin-bottom: 5px;
    text-indent: 30px;
    width: 100%;
    height: 50px;
    box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.08);

    &:focus {
        outline:0px;
        outline-width: 0 !important;
        box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.08);
        text-indent: 30px
    }
    &::placeholder {
        color: $primary-red;
        font-size: 17px;
        font-weight: 200;
        text-indent: 30px
    }

    &[type="date"] {
        color: $primary-red;
    }
}

@mixin styleSelectError(){
    border-radius: 50px;
    font-size: 15px;
    color: $gray;
    font-weight: 200;
    background-color: $white;
    border: 1px solid $primary-red;
    margin-bottom: 5px;
    text-indent: 30px;
    width: 100%;
    height: 50px;
    box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.08);

    &:focus {
        outline:0px;
        outline-width: 0 !important;
        box-shadow: 2px 3px 11px 0px rgba(0,0,0,0.08);
        text-indent: 30px
    }
    &::placeholder {
        color: $primary-red;
        font-size: 17px;
        font-weight: 200;
        text-indent: 30px
    }

    option {
        &.option:first-child{
            color: $primary-red;
        }
    }
}

@mixin textAlertInput() {
    color: $red-light;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding: 0 0 0 17px;
    p{
        margin:0;
    }
}

@mixin styleLabel() {
    color: rgba($gray, .75);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
}

@mixin styleTitle() {
    color: $black-light;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 17px;
}

@mixin styleTitleCenter() {
    color: $black-light;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}

@mixin styleTitleLeft() {
    color: $black-light;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}

@mixin  wrapperTransparent() {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $black;
    opacity: 0.8;
    z-index: 2;
    height: calc(100vh + 6%);
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: $mobile) {
        @content
    }
}