// fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
// colors
$white: #ffffff;
$black: #000000;
$primary-blue:#00A3FF;
$primary-red:#F84651;
$primary-green:#07CD52;
$gradient-1: #63C7FF;
$gradient-2: #00A3FF;
// color fonts
$gray: #616575;
$gray-light: #C8CED5;
///Break points
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;